@font-face{
    font-family: "Comfortaa-Bold";
    src: url('Comfortaa-Bold.ttf');
}
@font-face{
    font-family: "Comfortaa-Light";
    src: url('Comfortaa-Light.ttf');
}
@font-face{
    font-family: "Comfortaa";
    src: url('Comfortaa-Regular.ttf');
}

html, body {
    padding: 0px;
    margin: 0px;
    font-family: "Comfortaa";
    color: #000;
}

#title {
    background: rgba(0, 0, 0, 0.5);
    color: #FFF;
    position: absolute;
    left: 30%;
    right: 30%;
    text-align: center;
    top: 35%;
    font-size: 25px;
    padding-bottom: 20px;
}

#menu {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    bottom: 0%;
    color: #FFF;
    font-size: 25px;
    font-weight: bold;
}
#menu ul {
    list-style: none;
    margin-top: 0px;
}
#menu li {
    float: left;
    padding: 10px 40px;
    
}
#menu li a {
    color: #FFF;
}

#page {
    position: absolute;
    top: 100%;
    width: 100%;
}

#page h1, h3 {
    margin-left: 20px;
    margin-bottom: 5px;
}

#info {
    clear: both;
    height: 120px;
    font-size: 25px;
}

#RGB, #HSV, #HSL, #colorInfo {
    float: left;
    text-align: cente;
    top: 0px;
    padding: 10px;
    margin: 0px 20px;
}

#colorInfo {
    width: 420px;
}

#schemes {
    /*position: absolute;
    top: 120%;*/
    clear: both;
    width: 100%;
}

.scheme {
    height: 150px;
}

.color {
    width: 10%;
    height: 90px;
    float: left;
    text-align: center;
    font-weight: bold;
    padding-top: 20px;
}

#shades .color {
    color: #FFF;
}

#tints .color {
    color: #000;
}

#analogous .color, #complementary .color, #similar .color {
    width: 14.2857%;
}

#triadic .color {
    width: 16.6666%;
}

#generate {
    clear: both;
}

#about {
    clear: both;
}

#advertisement {
    clear: both;
}

#previous {
    clear: both;
}

.previousColor {
    float: left;
    height: 40px;
    width: 8.3333333%;
    text-align: center;
    transition: 0.5s;
}

.previousColor span {
    opacity: 0.3;
}

.previousColor span:hover {
    opacity: 1;
}