html, body {
    padding: 0px;
    margin: 0px;
    font-family: verdana;
}

#title {
    background: rgba(0, 0, 0, 0.5);
    color: #FFF;
    position: absolute;
    left: 30%;
    right: 30%;
    text-align: center;
    top: 35%;
    font-size: 25px;
    padding-bottom: 20px;
}

#RGB, #HSV {
    background: rgba(0, 0, 0, 0.5);
    color: #FFF;
    position: absolute;
    text-align: cente;
    top: 100%;
    font-size: 25px;
    padding: 10px;
}

#RGB {
    left: 30%;
}

#HSV {
    right: 30%;
}

#schemes {
    position: absolute;
    top: 120%;
    width: 100%;
}

#schemes h1, h3 {
    margin-left: 20px;
}

.scheme {
    height: 150px;
}

.color {
    width: 10%;
    height: 90px;
    float: left;
    text-align: center;
    font-weight: bold;
    padding-top: 20px;
}

#shades {
    color: #FFF;
}